* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    background-color:  #222;
    color: #1a1a1a;
  }
  
  /* Header */
  header {
    background-color: #1a1a1a;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header.scrolled {
  background-color: rgba(26, 26, 26, 0.85); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

  
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px; 
    height: auto;
    margin-right: 10px;
  }
  @import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Archivo+Black&family=Bacasime+Antique&display=swap');
  .site-name {
    font-family: "Arbutus Slab", serif;
    font-size: 18px;
    color: #938743;
  }
  
  
  .logo {
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 1px;
  }

  
  nav a {
    color: #fff;
    margin-left: 30px;
    text-decoration: none; 
    font-size: 0.95rem;
  }
  
  nav a:hover {
    color: #938743;
    text-decoration: none; 
  }
  
  
  .hero {
    background: url(banner2.png) center/cover no-repeat;
    padding: 80px 20px;
    text-align: center;
    background-color: #333;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease, transform 1s ease;
  }

  .hero.visible {
    opacity: 1;
    transform: translateY(0);
    
  }
  
  .hero h1 {
    font-size: 100px;
    color: #938743;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #2D2915 10%, #938743 23%, #938743 62%, #2D2915 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
  @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bacasime+Antique&display=swap');

  .hero p {

    font-family: "Bacasime Antique", serif;
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
    
  }
  
  .hero button {
    background-color: #f9c92b;
    color: #1c1c1c;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .room {
    display: flex;
    gap: 20px;
    background-color: #403F3F;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 50px;
    align-items: flex-start;
    flex-wrap: wrap; 
    opacity: 0;
    transform: translatex(100px);
    transition: opacity 0s ease, transform 1s ease;
    background-image: url(last.jpeg);
    background-size: cover;
  }
  
  .room.visible {
    opacity: 1;
    transform: translatex(0);
  }

 
.room:nth-child(1) {
    transition-delay: 0s;
}

.room:nth-child(2) {
    transition-delay: 0.2s;
}

.room:nth-child(3) {
    transition-delay: 0.2s;
}

.room:nth-child(4) {
    transition-delay: 0.2s;
}

  .room img {
    width: 600px;            
    margin-top: 10px;
    margin-right: -10px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0;
    transition: transform 0.5s ease; 
  }
  .room img:hover {
    transform: scale(1.05); 
  }
  
  
  @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

  .room h2 {
    color: #938743;
    font-size: 50px;
    text-align: left;
  font-family: 'Archivo Black', sans-serif; 
    margin-bottom: 5px;
  }

  .left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px; 
  }
  
  .price-btn {
    background-color: black;
    color: #d4c66c;
    padding: 12px 32px;
    margin-top: 15px;
    margin-left: 180px;
    font-size: 1rem;
    font-family: 'Archivo Black', sans-serif;
    border-radius: 40px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
 

  .price-btn:hover {
    background-color: white;
    cursor: pointer;
  }
    
  
  
  @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bacasime+Antique&display=swap');
  .room p {
    font-size: 30px;
    font-family: "Bacasime Antique", serif;
    color: #f9f9f9;
    text-align:justify;
    margin-top: 70px;
    margin-left: 15px;
    line-height: 150%;
  }

  
  
  .room .text-content {
    flex: 1; 
    min-width: 250px;
  }
  
  
 
footer {
    background-color: #1a1a1a; 
    color: #ccc; 
    padding: 70px 90px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap; 
    font-family: "Arbutus Slab", serif;
    
  }
  

  .footer-logo-container {
    display: flex;
    align-items: center;
  }
  
  .footer-logo-container img {
    width: 100px; 
    height: auto;
    margin-right: 0px; 
  }
  
  .footer-logo-container p {
    font-size: 2.1rem;
    font-family: "Arbutus Slab", serif;
    color: #938743; 
    margin: 0;
    background: linear-gradient(90deg, #2D2914, #938743);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    color: transparent;     
  }
  
  @media (max-width: 768px) {
    footer {
      flex-direction: column; 
      text-align: center; 
    }
  
    .footer-logo-container img {
      margin-bottom: 10px;
    }
  
    .footer-logo-container p {
      font-size: 2.1rem; 
    }
  }
  .footer-contact-info .contact-group {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-top: 10px;
    font-size: 1.0rem;
  }
  
  .footer-contact-info .contact-numbers p {
    margin: 4px 0;
    display: flex;
    font-size: 1.0rem;
  }
  
  .footer-contact-info .label {
    width: 80px;
  }
  
  .footer-contact-info .number {
    font-family: "Arbutus Slab", serif;;
    color: #ccc;
  }
  
  
  .footer-icon {
    color: #938743;
    margin-right: 10px;
    font-size: 1.1rem;
    width: 20px; 
    height: 20px;
    font-family: "Arbutus Slab", serif;
  }
  
  .footer-left p,
  .footer-right p {
    margin-bottom: 10px;
    font-size: 0.9rem;
    font-family: "Arbutus Slab", serif;
    
  }
  
  .footer-right p:hover {
    color: #938743;
    cursor: pointer;
  }
  
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
  }
  
  .popup-content {
    background-color: black;
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    text-align: center;
    font-family: 'Arbutus Slab', serif;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    color: white;
    position: relative;
  }
  
  .popup-content h2 {
    color: #938743;
    margin-bottom: 15px;
  }
  
  .popup-content .note {
    margin-top: 20px;
    color: #c00;
    font-size: 0.95rem;
  }
  
  .popup-content ul {
    list-style: none;
    padding: 0;
    font-size: 1rem;
    text-align: left;
  }
  
  .popup-content li {
    margin-bottom: 10px;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
  }
  
  
  